:root {
    --slideMargin: 16px;
    --slideMargin: 16px;
}

section.details {
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - var(--slideMargin) + var(--slideMargin) / 3);
    min-width: calc((100% / 3) - var(--slideMargin) + var(--slideMargin) / 3);
    margin: 7px;
}

div.dollars-fade {
    color: #20212547;
}

div.info {
    padding: 1rem;
}

/* div.button-info { */
    /* background-color: aqua; */
/* } */

img.details-image {}

div.buttom-info {
    display: flex;
}

svg.smiley {
    height: 0.75rem;
    width: 0.75rem;
}